*{
    padding: 0%;
    margin: 0%;
}
header{
    background-image: url(https://s1.1zoom.me/big0/705/273111-blackangel.jpg);

 justify-content: space-around;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.panel{
    background-image: url(https://avatars.mds.yandex.net/get-pdb/2885306/2f870555-70c0-4780-a7ab-084b0b5d9be8/s1200?webp=false);
font-size: 1.3em;
margin: 10px 15px 10px 15px;
 border-radius: 5px;
color: springgreen;
box-shadow: 1px 1px 10px lawngreen ;
}
header>a{
text-decoration: none;
text-align: center;
flex-grow: 1;
}
main{
    background-image: url(http://virtuellife.v.i.pic.centerblog.net/o/a5a83bf0.png);
   
    color:springgreen ;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
background-blend-mode: multiply;
background-color: rgba(0, 0, 0, 0.521);
}
#img{
    background-color: steelblue;

    flex-basis: 50%;
flex-wrap: wrap;
text-align: justify;
text-align: center;
}
footer{
    background-color: springgreen;
  text-align: center;
    text-shadow: 1px 1px 2px mediumpurple, 0 0 1em white;
    flex-wrap: wrap;
    text-align: justify;
    text-align: center;
}
#information {
    position: fixed;

}
.summary{
    cursor: pointer;
}


#allinfo {
    margin-left: 16%;
    font-size: 1.3em;
}

#about {
    margin-top: 10%;
}

.foto {
    width: 200px;
    border-radius: 5%;
}
.shop{
    background-image: url(https://i.ytimg.com/vi/AL-Tzdcry_Y/maxresdefault.jpg);
    font-size: 1.3em;
    margin: 10px 15px 10px 15px;
     border-radius: 5px;
    color: springgreen;
    box-shadow: 1px 1px 10px lawngreen ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
text-align: center;
flex-grow: 2;

  
}
#Glavnoe{
    color: yellowgreen;
    text-align: center;
    background-image: url(http://virtuellife.v.i.pic.centerblog.net/o/a5a83bf0.png);
    text-align: center;
}
#Glavnoe1{
    color: yellowgreen;
    text-align: center;
  margin-left: 37% ;
}

.textofPC{
color: white;
}
#ccylka{
    color: white;
    
}

#cont {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;

}

.center {
    flex-basis: 40%;
    margin: 10px;

}

.img {
    width: 100%;
    margin-top: 5px;
    transition: 2s;
   border-radius: 10%;
   box-shadow: 1px 1px 10px lawngreen ;
}

#text {
    font-size: 1.3em;
}

#podpis{
    margin-left: 15%;
    color: black;
}
#ds{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
#hh{
    width: 100%;
    border-radius: 5%;
    transition: 2s;
}
#hh:hover{
  width: 120%;
      margin-right: 15px;
}
.procall{
    color: brown;
}
#pc2{
  margin-top: 10%;
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.Cena{
    color: cadetblue;
}
