html{
  
    background-image: url(maxresdefault_live.jpg);
  color: aliceblue;
}

#container{
 
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    
}
.menu{
    background-color: darkred;
   border-radius: 15px;
width: 30%;
text-align: center;
margin-left: 3%;

}
#nachalo{
    text-align: center;
}
.text{
    text-align: center;
}
#pc{
    height: 600px;
   
}
.foto{
    height: 300px; 
}
#xz{
    height: 150px;
    background-color: darkred;
    width: 150px;
}
#xc{
    background-color: darkslateblue;
    width: 15%;
    height: 150px;
}
.pc{
    
    border: 0px;
   border-radius: 15px;
width: 18%;
height: 240px;
text-align: center;
margin-left: 12%;
margin-top: 5%;
}
#pc1{
background-image: url(250b039794.jpg);

}
#pc2{
    background-image: url(9849dc309b.jpg);

}

#pc3{
background-image: url(f68a9f4344.jpg);


}